body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
    width: 606px;
    height: 612px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#board img {
    width: 300px;
    height: 100px;
    border: 0.5px solid lightblue;
}


#pieces {
    width: 204px;
    height: 612px;
    border: 2px solid purple;
    float: right;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 100px;
    height: 100px;
    border: 0.5px solid lightblue;
}